{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    
    <div class="row mx-3">
        {% for listing in listings%}
            <div class="card">
                <img class="card-img-top" src="{{ listing.image_url }}" style="width:20vw" alt="Image not found">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">{{ listing.description }}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}