body {
    background-color: #202124;
}

.navbar {
    float: right;
    margin-right: 5px;
    color: white;

}

@media (max-width: 800px) {
    input[type="text"] {
        width: 60vw;
        padding-inline: 20px;
    }
}
  
@media (min-width: 800px) {
    input[type="text"] {
        width: 480px;
        padding-inline: 20px;
    }
}

input {
    color:#e8eaed;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-family: Verdana, sans-serif;
}

input[type="text"] {
    background-color: transparent;
    border: 1px solid #e8eaed;
    border-radius: 30px;
    height: 34px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #303134;
    border: 1px solid #303134;
    margin-top: 40px;
    min-width: 54px;
    height: 36px;
    border-radius: 4px;
    font-size: 14px;
}

input[name="btnI"] {
    margin-left: 70px;
}

input[value="Google Search"] {
    margin-left: -70px;
}