body {
    background-color: #202124;
}

.navbar {
    float: right;
    margin-right: 5px;
    color: white;
    text-decoration: none;

}

.navbar:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    input[type="text"] {
        width: 80vw; 
    }
}
  
@media (min-width: 800px) {
    input[type="text"] {
        width: 650px;
    }
}

img {
    width: 300px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 80%;
    height: auto;
}

input {
    color:#e8eaed;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table; text-align: center;
    
    font-family: Verdana, sans-serif;
}

input[type="text"] {
    background-color: transparent;
    border: 1px solid #e8eaed;
    border-radius: 30px;
    height: 34px;
    font-size: 16px;
    padding-inline: 20px;
}

input[type="text"]:focus, input[type="text"]:hover{
    background-color:#303134;
}

input[type="submit"] {
    background-color: #303134;
    border: 1px solid #303134;
    margin-top: 40px;
    min-width: 54px;
    height: 36px;
    border-radius: 4px;
    font-size: 14px;
}

input[type="submit"]:hover {
    border: 1px solid #e8eaed;
}

input[name="btnI"] {
    margin-left: 70px;
}

input[value="Google Search"] {
    margin-left: -70px;
}